{% extends "base.html" %}

{% block more_head %}
	<style type="text/css">
		.app-icon {
			width: 64px;
			height: 64px;
			background-position: center center;
			background-repeat: no-repeat;
			border-radius: 0.5em;
			padding: 0.5em;
			display: inline-block;
		}

		.app-icon:hover {
			background-color: #EDEDCA;
		}

		.container {
			left: 20px;
			width: 95%;
		}
	</style>
{% endblock %}

{% block title %}
 - Wall of Apps
{% endblock %}

{% block content %}
	<h1>
		Wall of Apps
		<small>{{ total_apps_count }} total</small>
	</h1>
	<table class="table">
		{% for tagname, apps in tags %}
			<tr>
				<td>{{ tagname }}</td>
				<td>
					{% for app in apps %}
						<a href="{% url 'app_page' app.Bundle_SymbolicName %}">
							<i class="app-icon" rel="tooltip" title="{{ app.Bundle_Name }}" style="background-image: url({{ app.logo_url }}); background-size: 75px 75px;"></i>
						</a>
					{% endfor %}
				</td>
			</tr> 
		{% endfor %}
	</table>
<script type="text/javascript">
	$(function() {
		$('.app-icon[rel=tooltip]').tooltip();
	});
</script>
{% endblock %}
