{% extends "base.html" %}
{% load static %}

{% block title %}
    {% if expect_app_name %}
        - Submit a New Release
    {% else %}
        - Submit your App
    {% endif %}
{% endblock %}

{% block more_head %}
    <style type="text/css">
        #loading { display: none; }
    </style>
{% endblock %}

{% block content %}
<div class="error-margin">
    <div class="col-md-12">
        {% if expect_app_name %}
            <h1>
                Submit a New Release
                <small>{{ expect_app_name }}</small>
            </h1>
        {% else %}
            <h1 class="text-success">Submit your App
                <button id="tooltip-1" class="btn btn-default btn-circle" data-toggle="tooltip" data-placement="right" data-html = "true" data-trigger="toggle"
                 title = "">
                    <i class="fa fa-question-circle" style="font-size: 30px"></i>
                </button>
            </h1>
        {% endif %}
    </div>
{{ doc_link }}
<br/><br/>
    <div class="col-md-12">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% if expect_app_name %}
            <input type="hidden" name="expect_app_name" value="{{ expect_app_name }}">
            {% endif %}
            <div class="row">
                <div class="col-md-12">
                    <input type="file" name="file" id="input-file">
                    <label for="input-file" class="input-file-label text-muted" id="input-file-label"> No file selected </label>
                    &nbsp;<i id="delete_file_btn" class="fa fa-trash-o trash"></i>
                    <br />
                    <br />
                    <label class="custom-legend">or</label>
                    <br />
                    <br />
                    Enter Link&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="url_val" name = "url_val" size="50">
                    &nbsp;<i id="delete_path_btn" class="fa fa-trash-o trash"></i>
                    <br />
                    <i class="text-muted custom-text">Best for bitbucket pipeline users.</i>
                    <a href="#" id="doc_link"><u>Learn more</u></a>
                </div>
            </div>
            <br />
            <span class="center-button">
                <button type="submit" class="btn btn-success big-button">Next</button>
                <div id="loading">
                    <img src="{% get_static_prefix %}common/img/loading.gif">
                </div>
            </span>
        </form>
    </div>
</div>
<br />
<script type="text/javascript">
    var message = "IGB Apps are OSGi bundles, which are ordinary Java jar files with some extra meta-data that enables them to run within IGB’s OSGi run-time. An IGB App also needs an OBR index file named repository.xml. See <a href='" + getDocLink() + "'> developer’s documentation.</a>";

    document.getElementById("tooltip-1").title= message

    let learn_more_dom = document.getElementById("doc_link");
    learn_more_dom.onclick = function() {
        learn_more_dom.href= getDocLink();
        learn_more_dom.setAttribute('target', '_blank')
    };

    $(function() {
        $('form').submit(function() {
            if($('form input[type=file]').val() || $('#url_val').val()){
                $('button[type=submit]').hide();
                $('#loading').show();
            } else {
                Msgs.add_msg('Please upload a file or Enter a URL', 'danger', 'rating');
                return false;
            }
        })

        $('#delete_file_btn').attr('disabled', 'true');
        $('#delete_path_btn').attr('disabled', 'true');

        $('form input[type=file]').change(function() {
            if ($('form input[type=file]').val()) {
                $('#delete_file_btn').removeAttr('disabled');
                $('#input-file-label').text($('form input[type=file]').val().replace(/^.*[\\\/]/, '').substring(0, 36 - 1));
            }
            else
                $('button[type=submit]').attr('disabled', 'true');
        });

        $('#url_val').change(function() {
            if ($('#url_val').val()) {
                $('#delete_path_btn').removeAttr('disabled');
            }
        });

         $('#delete_file_btn').click(function () {
            $('form input[type=file]').replaceWith($('form input[type=file]').val('').clone(true));
            $('#input-file-label').text(' No file selected ');
        });

        $('#delete_path_btn').click(function () {
            var url_field = $('form input[id="url_val"]');
            url_field.replaceWith(url_field.val('').clone(true));
        });
    });
</script>
{% endblock %}